html body{
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    background-image: url("http://i.imgur.com/UEvnvBl.jpg");

}

header{
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav div{
    margin: auto;

}

header .row{
    display: flex;
    align-items: center;
}
